<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<h1>Список пользователей</h1>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Роль</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <ul>
                <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
            </ul>
        </td>

        <td>
            <form th:action="@{/admin/users/{id}(id=${user.id})}" method="get" style="display:inline;">
                <button type="submit">Редактировать</button>
            </form>

            <form th:action="@{/admin/delete/{id}(id=${user.id})}" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br><br>

<form th:action="@{/admin/users/new}" method="get">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button type="submit">Добавить нового пользователя</button>
</form>

<br><br>

<form th:action="@{/logout}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button type="submit">Выйти</button>
</form>
</body>
</html>