<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<h2>Информация о пользователе</h2>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
    </tbody>
</table>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <button type="submit">Выйти</button>
</form>
</body>
</html>